{% extends "layout.html" %}

{% block content %}
    <div class="jumbo">
        <h1>About</h1>
        <h2>Nick Russo</h2>
        <p>I am an avid coder who has worked mainly with C++ and Python. I am currently learning web development. The frameworks I am learning are python with flask and ruby on rails. I plan to work on web applications, command line utilities, and operating systems. I want to learn data science and machine learning as well. I have been tinkering with many python libraries and reading a few books on the subject.</p>
        <p>I am creating my own website using Flask and Python, hosted on Github, and running on Heroku.</p>
        <h4>Technologies utilized:</h4>
        <ul>
            <li>Python</li>
            <li>Flask</li>
            <li>Gunicorn</li>
            <li>Github</li>
            <li>Heroku</li>
            <li>Travis-CI</li>
        </ul>
    </div>
{% endblock %}
