{% extends "layout.html" %}

{% block content %}
    <h1>About</h1>
    <p class="align-left">I am an avid coder who has worked with C++, Python, along with some C, Ruby, and Rust. I am currently learning web development at Dev Bootcamp. The frameworks I have been working with are python with flask, ruby on rails, and I am looking into tornado as well. I plan to work on web applications, command line utilities, and operating systems. I want to learn data science and machine learning as well. I have been tinkering with many of the python libraries and reading a few books on the subject.</p>
    <p class="align-left">I am creating my own website using Flask and Python, hosted on Github, and running on Heroku. I will be adding blog posts and tutorials on various dev topics.</p>
    <h4>Technologies utilized:</h4>
    <ul>
        <li>Python</li>
        <li>Flask</li>
        <li>Gunicorn</li>
        <li>Github</li>
        <li>Heroku</li>
        <li>Travis-CI</li>
    </ul>
{% endblock %}
