{% extends "layout.html" %}

{% block content %}
  <h2>Flask Tutorial</h2>
  <p>There are many languages and web frameworks to choose them, so why should you pick flask? Flask is a simple, yet extensible, web framework written in python. It is easy to get a project started, but there are many features you can add as you can go. I used flask to build this website, and it was a great framework to start with.</p>
  <h4>1. Install Python</h4>
  <p>If you are on a Mac or Linux/BSD box you should have python installed already. Python 2 has been the standard, but Python 3 is coming around. Python 3 has some changes that are not backwards compatible. Flask is currently only support on Python 2, plus many packages are still dependent on Python 2, so you should stick with that when using Flask. Using virtualenv is also highly suggested, as this sandboxes each environment separately allowing you to install packages on a per project basis allowing for portability. The following code should work on most systems.</p>
  <p><code>sudo pip install virtualenv</code></p>
  <h4>2. Install Flask</h4>
  <p></p>
  <h4>3. Building your app</h4>
  <p></p>
{% endblock %}
