{% extends "layout.html" %}

{% block content %}
    <div class="jumbo" text-align: center>
        <h2>Welcome to psiclops.io</h2>
        <h4>This is the home page for the Flask app I am building</h4>
        <h4>I will continue to update it as I go, adding tutorials, projects, and more.</h4>
        <h3>About me:</h3>
        <p>I am an avid coder who has worked mainly with C++ and Python. I am currently learning web development. The frameworks I am learning are python with flask and ruby on rails. I plan to work on web applications, command line utilities, and operating systems. I want to learn data science and machine learning as well. I have been tinkering with many python libraries and reading a few books on the subject.</p>
    </div>
{% endblock %}
