<!DOCTYPE html>
<html>
    <head>
        <title>psiclops.io</title>
        <strong><link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"></strong>
        <link href='https://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <header>
            <div class="container">
                <h1 class="logo"><a href="/" id="home">psiclops.io</a></h1>
                <strong><nav>
                    <ul class="menu">
                        <li><a href="{{ url_for('home') }}">Home</a></li>
                        <li><a href="{{ url_for('about') }}">About</a></li>
                    </ul>
                </nav></strong>
            </div>
        </header>

        <div class="container">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
